// Place all the styles related to the FoodTracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//clearfix
.group:after {
  content: "";
  display: table;
  clear: both;
}

#chart_div img 
{
    padding-top: 18px;
}

h4 {
	margin: 1px;
}

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	border-collapse: collapse;
	
	text-align: right;
	.left {
			text-align: left;
	}
	
	td, th {
		padding-left: 8px;
	}
	th {
		font-size: 14px;
		font-weight: normal;
		/*color: #039;*/
		text-align: right;
		color: 0;
		padding: 10px 8px 2px;
		border-bottom: 1px solid #CCC;
	}
	td {
		color: #669;
  		padding: 1px 2px 0px 8px;
		font-size: 12px;  		
  	}
  	td.fat-item {
  		font-size: smaller;
  	}

  	.weight {
  		cursor: pointer;
  	}

  	td.calculated {
  		color: #555555;
  	}
	.running_total {
		font-weight: bold;
  		color: #555555;
	}

	.main tr:nth-child(odd){
		/*background: #eef;*/
		background: #f0f0f0;
	}

	tr.input_raw, tr.new_ft {
		/*background-color: #f7f7f7;*/
	}

	tr.separator td {
		border-bottom: 1px solid #f0f0f0;
		padding-bottom: 1em;
	}

	a,a:visited,a:focus,a:hover{
		color: #669;
		text-decoration:  none;
		background-color: inherit;
	}

	tbody a:hover {
		color: #009;
	}
}

.red {color: red;}
.ok {color: #555555;}

#ft_totals {
	float: right;
	table {
		td {
			color: #555555;
			padding: 1px 10px 1px 8px;
			font-family: "Verdana";
			font-size: x-small;
		}
		.red {color: red;}
		.kcals {font-size: larger;}
	}
}

.ui-menu-item {
	font-size: 11px;
}

#new_food_window{
	display: none;
	position: absolute;
	top:100px;
	left: 300px;
	width: 270px;
	border: 1px solid;
	padding: 10px 10px 10px 20px;
	background: #fff;
	line-height: 2em;

	input:first-of-type {
		width:249px;
		margin-bottom: 10px;
	}
	input[type="text"]:not(:first-of-type){
		position: absolute;
		left: 140px;
		width: 130px;
	}
	input[type="submit"] {
		float:right;

	}
}

#calendar {
	position: absolute;
	display: none;
	right:5%;
	font-size: 10px;
	td, th {
		font-size: 10px;
	}
}


#q {
	width: 100%;
}

table.dietdairy_table {
	width: 100%;
}

#dietdairy_div {
	display: none;
	position: absolute;
	top:100px;
	left: 601px;
	width: 540px;
	border: 1px solid;
	padding: 10px 20px 10px 20px;
	background: #fff;
}

ul.prev-next {
	list-style: none;
	font-size: large;
	padding-left: 0;
}

li {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
}

.editFieldSaveControllers {
	display: none;
}

.editField {
	padding: 0;
	margin: 0;
	border: 0;
	width: 2em;
}

.input_raw input {
	border: 1px solid #CCC;
}

div.ink-vspace.dheader {
	margin-bottom: 0;
}
#showtxt {
	font-size: smaller;
	cursor: pointer;
	text-decoration: none;
}
#txt {
	display: none;
}


p a {
	text-decoration: underline;
}

img.bgimg {
	position: relative;
	top: -48em;
	left: -10em;
	z-index: -1;
}

footer a{
	text-decoration: none;
}